<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044964283701-4h5bveeq8s321mi95n5fvgb069asucbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044964283701-4h5bveeq8s321mi95n5fvgb069asucbb</string>
	<key>API_KEY</key>
	<string>AIzaSyBZnKMg7shz8EgQ8T-57IoNC0Kp7f_lBVU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044964283701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benyam.BenyamChat</string>
	<key>PROJECT_ID</key>
	<string>benyamchat</string>
	<key>STORAGE_BUCKET</key>
	<string>benyamchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044964283701:ios:837aeb696fb5ae4e17a87c</string>
</dict>
</plist>